body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background: linear-gradient(to bottom, #200092, #2900be, #0154ad);
    background-attachment: fixed;
}

body.sobre {
    background: linear-gradient(to bottom, #1f008d, #1b007f, #0047aaea);
    padding: 20px;
    height: auto;
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-shadow: none;
    background-attachment: fixed;
}

body.sobre h1 {
    text-shadow: none;
}

.conteudo-sobre {
    max-width: 700px;
    margin: auto;
}

.logo-sobre {
    text-align: center;
    margin-bottom: 30px;
}

.logo-sobre img {
    display: block;
    margin: 0 auto;
}

a {
    color: rgb(0, 200, 255);
}

hr {
    width: 30%;
    height: 3px;
    border-radius: 5px;
    background: radial-gradient(circle, #30bad2, transparent);
    border: none;
    text-shadow: 0 0 25px rgb(1, 255, 234);

}

h1 {
    font-size: 90px;
    color: white;
    text-shadow: 0 0 68px rgba(1, 255, 234, 0.429);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-shadow: 0 0 58px rgba(1, 255, 234, 0.429);
    padding: 0 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #e9faff;
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
    text-align: center;
    backdrop-filter: blur(2px);
}

.front {
    height: 75vh;
    margin-bottom: 100px;
    text-align: center;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    transition: transform .3s ease, text-shadow .3s ease;
    background-image: url("bg\ front.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin-top: 20px;
    margin: 0;
    border-bottom: 10px (linear-gradient(to bottom, blue, #00bad2));
}

.front:hover {
    text-shadow: 0 0 10px white;
}

.p2 {
    background: none;
}


.cartoes {
    background: radial-gradient(circle, #00e1ffcd, #1b007c);
    width: 300px;
    height: 390px;
    padding: 0 5px;
    border-radius: 25px;
    text-align: center;
    gap: 20px;
    position: relative;
    box-shadow: 0 0 25px rgba(0, 0, 0, .4);
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;

}

.cartoes:hover {
    transform: translateY(-15px);
}

.produtos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.botao {
    background: transparent;
    border-radius: 15px;
    width: 320px;
    height: 380px;
    border: none;
    margin-top: 10px;
    position: absolute;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;

}

.letra {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: 0 0 40px rgb(1, 255, 234);
    color: rgb(255, 255, 255);
}

.moldura {
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    display: inline-block;
    margin-top: 10px;
    box-shadow: 0px 0px 8px 2px rgb(255, 255, 255);
}

.secoes {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.social {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 22px;
    align-items: center;
    background-color: transparent;
}


#g {
    color: rgb(0, 0, 0);
    box-shadow: none;
    font-size: 16px;

}

.topbar-barra {
    background: linear-gradient(to left, black, rgb(14, 0, 74), black);
    color: #fff;
    padding: 10px 16px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(120, 80, 255, 0.6);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    gap: 5px;
    align-content: center; 
}

.topbar-menu-1 a{
    background:radial-gradient(circle, rgb(1, 154, 231), rgb(0, 89, 255));
    border-radius: 3px;
    height: 25px;
    width: 110px;
    text-decoration: none;
    display: inline-flex;
    text-align: center;
    align-items: right;
    color: black;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topbar-menu-2 a{
    background:radial-gradient(circle, rgb(0, 203, 218), rgb(0, 170, 255)); height: 30px;
    color: black;
    border-radius: 3px;
    height: 30px;
    width: 79px;
    text-decoration: none;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topbars{
    display: flex;
    gap: 6px;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: bold;
}

.logo img {
    width: 32px;
    height: 32px;
}

.topbar a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 15px;
    transition: .2s;
}

.image {
    text-align: center;
}

.titulo-produto {
    font-size: 20px;
    font-weight: bold;
}

.descricao-produto {
    font-size: 15px;
    opacity: .9;
    margin-bottom: 15px;
}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(0%);
    transition: all 2s;
}

.hidden-left{
    opacity: 0;
    filter: blur(15px);
    transform: translateY(30%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    transition: all 2s;
}

@media (max-width: 600px) {
    .front {
        height: 75vh;
        margin-bottom: 185px;
        background-image: url('bg_media.jpg');
    }

    .topbar-menu-1{
        display: none;
    }



    .cartoes{
        width: 300px;
        height: 390px;
    }

}

@media (max-width: 1000px) {
    .front {
        height: 75vh;
        margin-bottom: 185px;
        background-image: url('bg_media.jpg');
    }

    .topbar-menu-1{
        display: none;
    }

    .cartoes{
        width: 300px;
        height: 390px;
    }

}
